<div>
<section class="p-6">
    <div class="row-1">
        <input class="input-list" type="text" name="" id="" placeholder="Search..." [(ngModel)]="searchTerm">
        <button class="boton-send"  routerLink="/productos-financieros/crear-productos-financieros">Agregar</button>
    </div>
    <div class="row-2">
        <table>
            <thead>
              <tr>
                <th>Logo</th>
                <th>Nombre del producto</th>
                <th>Descripción<img class="tootip" src="assets/download.svg" alt="Descripción" title="Descripción"></th>
                <th>Fecha de liberación<img class="tootip" src="assets/download.svg" alt="Fecha de liberación" title="Fecha de liberación"></th>
                <th>Fecha de reestruturación<img class="tootip" src="assets/download.svg" alt="Fecha de reestruturación" title="Fecha de reestruturación"></th>
                <th></th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let lista of paginarItems() | busqueda:searchTerm">
                <td ><img [src]="lista.logo" alt="Logo del producto" width="50" height="50"></td>
                <td data-header="Nombre del producto">{{lista.name}}</td>
                <td data-header="Descripción">{{lista.description}}</td>
                <td data-header="Fecha de liberación">{{lista.date_release | date:'shortDate'}}</td>
                <td data-header="Fecha de reestruturación">{{lista.date_revision | date:'shortDate'}}</td>
                <td>
                    <div class="options-container">
                        <div class="options-icon" (click)="toggleMenu(lista.id)">
                          <div class="dots"></div>
                          <div class="dots"></div>
                          <div class="dots"></div>
                        </div>
                        <div class="options-menu" [ngClass]="{ 'active': isMenuOpen === lista.id   }">
                          <button (click)="editarProducto(lista)">Editar</button>
                          <button (click)="eliminarProducto(lista.id)">Eliminar</button>
                        </div>
                      </div>
                  </td>
              </tr>
            </tbody>
          </table>
          <div class="row-1 ">
            <div>
                <label for="resultados">{{listaPorductosFinancieros.length}} Resultados</label>
            </div>
            <div class="select-container">
                <select id="itemsPerPage" [(ngModel)]="itemsPerPage" >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <!-- ...otras opciones... -->
                </select>
              </div>
          </div>
          
    </div>
    
</section>
    
</div>
