.row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.row-2 {
    padding: 26px;
    background: white;
}

.options-container {
    position: relative;
    display: inline-block;
    width: 20px;
}

.options-icon {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}

.dots {
    width: 3px;
    height: 3px;
    background-color: #333;
    border-radius: 50%;
    margin: 2px 0;
}

.options-menu {
    position: absolute;
    top: 55%;
    left: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: none;
    flex-direction: column;

    &.active {
        display: block;
    }

    button {
        padding: 8px 10px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        width: 100%;
        text-align: left;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}

@media (max-width: 768px) {
    .input-list{
        width: 148px;
    }
}

.tootip{
    width: 18px;
    margin: 0px 0px -4px 6px;
}