body {
    font-family: 'system-ui', sans-serif;
}

table {
    width: 100%;
    background: #ffffff;
    padding: 26px;
    font-weight: 500;
    border-collapse: collapse;
}

th,
td {
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #F9FAFC;
}

tr:hover {
    background-color: #F9FAFC;
}

table img {
    border-radius: 50%;
}

@media (max-width: 768px) {
    table {
        padding: 10px;
    }

    th, td {
        padding: 8px;
        display: block;
        text-align: center;
    }

    th {
        display: none;
    }

    td:before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        text-align: left;
    }

    td[data-header]::before {
      content: attr(data-header);
      font-weight: bold;
      display: flex;
    justify-content: space-around;
    margin: 5px;
  }
}


.p-6 {
    padding: 6%;
}

.input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-error{
  border: 1px solid red;
}

.label-error{
  color: red;
}

.input-line{
  border: 1px solid #ced4da;
}

.input:focus{
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-list{
    @extend .boton;
    height: 0px;
    margin-top: 20px;
}

.boton {
    padding: 1.375rem 1.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: #e2e6ea;
    color: #0056b3;
  }
  
  .boton:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .boton-send{
    @extend .boton;
    background-color: #F9DE4B;
  }

  .boton-send:hover{
    background-color: #d7c45f;
  }

  .boton-clear{
    @extend .boton;
    background-color: #E9ECF3;
  }

  .select-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .select-container label {
    margin-right: 10px;
    font-size: 14px;
  }
  
  .select-container select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
  }
  
  .select-container select:hover {
    border-color: #999;
  }
  
  .select-container select:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .select-container select option {
    background-color: #fff;
    color: #333;
    font-size: 12px;
  }