.w-section{
    width: 550px;
    margin: 0 auto;
    padding: 100px;
}

form {
    background: white;
}

.grid-form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 44px;
    padding: 46px;
    column-gap: 10px;
    padding-top: 0px;
}

.grid-form label{
    font-weight: 600;
}

.input{
    width: 190px;
}

.flex-botton{
    display: flex;
    justify-content: center;
    gap: 76px;
    padding: 38px;
}

.title{
    text-align: center;
    font-size: 28px;
    padding: 28px;
}

@media (max-width: 768px) {
    .w-section{   
        padding: 12px;
        width: 350px;
    }

    .grid-form{
        grid-template-columns: 100%;
    }

    .input{
        width: 90%;
    }
}