<section class="w-section">
 
  <form [formGroup]="formulario">
    <div class="title">
      <strong>Formulario de Registro</strong>
    </div>
    <hr>
    <div class="grid-form">
      <div>
        <label for="id">ID:</label>
        <input  [ngClass]="idTouched && idRequired ? 'input-error':'input-line'"  (change)="validarId()" class="input" type="text" id="id" formControlName="id" />
        <div *ngIf="idTouched && idRequired" class="label-error">ID Requerido</div>
        <div *ngIf="idTouched && idInvalido" class="label-error">ID inválido</div>
        <div *ngIf="idpermitido && !idInvalido && !idRequired" class="label-error">ID no válido!</div>
      </div>
  
      <div>
        <label for="nombre">Nombre:</label>
        <input [ngClass]="nombreTouched && nombreRequired ? 'input-error':'input-line'" class="input" type="text" id="nombre" formControlName="name" />
        <div *ngIf="nombreTouched && nombreRequired" class="label-error">Nombre Requerido</div>
        <div *ngIf="nombreTouched && nombreValido" class="label-error">Nombre inválido</div>
      </div>
  
      <div>
        <label for="descripcion">Descripción:</label>
        <textarea
        [ngClass]="descripcionTouched && descripcionRequired ? 'input-error':'input-line'"
          class="input"
          id="descripcion"
          formControlName="description"
          style="height: 24px;"
        ></textarea>
        <div *ngIf="descripcionTouched && descripcionRequired" class="label-error">Descripción Requerida</div>
        <div *ngIf="descripcionTouched && descripcionValido" class="label-error">Descripción inválida</div>
      </div>
  
      <div>
        <label for="logo">Logo:</label>
        <input [ngClass]="logoTouched && logoRequired ? 'input-error':'input-line'" class="input" type="text" id="logo" formControlName="logo" />
        <div *ngIf="logoTouched && logoRequired" class="label-error">Logo Requerido</div>
      </div>
  
      <div>
        <label for="fechaLiberacion">Fecha de Liberación:</label>
        <input
        [ngClass]="fechaTouched && fechaRequired ? 'input-error':'input-line'"
          class="input"
          type="date"
          id="fechaLiberacion"
          formControlName="date_release"
          [min]="fechaActual"
          (change)="setFechaRevision()"
        />
        <div *ngIf="fechaTouched && fechaRequired" class="label-error">Fecha liberacion es Requerida</div>
      </div>
  
      <div>
        <label for="fechaRevision">Fecha de Revisión:</label>
        <input
          class="input"
          type="date"
          id="fechaRevision"
          formControlName="date_revision"
          [attr.disabled]="true"
        />
      </div>
    </div>
    
    <div class="flex-botton">
      <button class="boton-clear" [disabled]="editar" (click)="limpiarFormulario()">Reiniciar</button>
      <button class="boton-send" [disabled]="formularioValido" (click)="submitForm()">Enviar</button>
    </div>
    
  </form>
</section>
