<div class="toast" [ngClass]="error ? 'danger':'success'"  *ngIf="visible">
    <div class="toast-header">
      <button class="close-button" (click)="ocultar()">&times;</button>
    </div>
    <div class="toast-body">
     {{mensaje}}
    </div>
  </div>