.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .toast-header {
    display: flex;
    justify-content: end;
  }
  
  .toast-body {
    margin-top: 5px;
  }

  .success{
    background-color: #5cb85c;
  }

  .danger{
    background-color: #d9534f;
  }

  